<div class="login-page">
	<div class="row">
		<div class="col-md-12">
		    <a href='' class="website-name navbar-brand">
				<span class="sub-brand">Company</span> Name
			</a>
			<form name="loginForm">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" placeholder="Email" [(ngModel)]="user.email" name="Email">
					</div>
				</div>
				<div class="form-content">
					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" placeholder="Password" [(ngModel)]="user.password" name="Password">
					</div>
				</div>
				<button type="submit" class="btn btn-primary login-btn" (click)="login()">Login</button>
			</form>
		</div>
	</div>

</div>